

body{
   font-family:sans-serif, Arial ;

}
.header {
  background: #fbf9f9;
  margin: 0 auto;

}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
  text-align: center;
}

.header-utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.form-logout{
  height: 50px;
}
.header__logo {
  color: #c5bba6;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding-left:18% ;
  margin: 0px auto;
}

.header-nav__item{
  height: 10px;
}
.header-utilities nav {
  width: 18%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__link {
  color: #fff;
  text-decoration: none;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #e2cb96c6;
   background-color: #ede3cf5d;
  border: 1px solid #f5d88f40;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
      width: 80px;
    height: 30px;

}

main{
   margin:  0 auto;
   background-color: #ede3cf5d;
   height: 100vh;
}