.login__content{

  margin: 0 auto;
  height: 100%;
  max-width: 1230px;

}

.login-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.login-form__heading {
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #838383;

}

.form {
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  height: 40vh;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f5d88f40;
  border-radius:5px ;

}

.form__group {
  margin:  20px auto;
  width: 70%;
}

.form__group-title {
  text-align: left;

}


.form__label--item{
  color: #838383;
}
.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__input--text input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #d7d3c96a;

  appearance: none;
}

.form__button {
  margin-top: 20px;
}

.form__button-submit {
  width: 30%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  background: #4b442a;
  color: #fff;
  cursor: pointer;
}

.register__link {
  margin-top: 20px;
  text-align: center;
}